.notification {
  position: fixed;
  top: 1rem;
  left: 0;

  max-width: 15rem;
  padding: 1rem 1.5rem 1rem .5rem;

  border-radius: 0 .5rem .5rem 0;
  background-color: rgba(var(--clc-primary), 0.95);
  
  z-index: 10;
  transition: opacity 0.3s ease;

  .notification__message {
    color: var(--clr-bg);

    font-family: var(--ff-secondary, "Lato");
    font-size: 0.95rem;
    margin: 0;
  }
}

.notification--visible {
  opacity: 1;
}

.notification--hidden {
  opacity: 0;
}
