.header { 
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: 100;

  color: #F4E9FF;

  width: 100%;
  max-width: 64rem;
  margin: auto;

  .header__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    margin: 0;

    font-family: var(--ff-primary);

    &::before, &::after { 
      content: '';
      flex: 1;
      height: 1px;

      background-color: currentColor;
    }
  }
}

