.poi {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;

  cursor: pointer;
  background-color: transparent;

  .poi__dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    transition: all 0.2s ease;

    background: rgba(var(--clc-primary), 0.5);
  }

  &:hover .poi__dot {
    transform: scale(1.125);
    background: var(--clr-primary);
  }
}
