.footer {
  color: rgba(244, 233, 255, 0.8);

  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 64rem;
  margin: auto;

  .footer__text {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin: 0;

    font-family: var(--ff-secondary), sans-serif;

    &::before,
    &::after {
      content: '';
      flex: 1;
      height: 1px;

      background-color: currentColor;
    }
  }
}