.poi-info {
  position: fixed;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);

  z-index: 9;

  width: 15rem;
  max-height: 70vh;
  padding: 2rem;

  border: 1px solid rgba(244, 233, 255, 0.2);
  border-radius: 6px;
  background-color: var(--clr-bg);
  
  opacity: 0;

  transition: all .4s ease;

  &:hover, &:focus { 
    opacity: 1;
  }

  .poi-info__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .poi-info__title {
    font-family: var(--ff-primary, "Playfair Display");
    font-size: 1.5rem;
    color: var(--clr-primary);
    margin: 0;
  }

  .poi-info__text {
    font-family: var(--ff-secondary, "Lato");
    font-size: .95rem;
    color: rgba(244, 233, 255, 0.85);
    margin: 0;
  }
}

.poi-info--visible {
  opacity: .75;
  transform: translateY(-50%) translateX(0);
  pointer-events: auto;
}

.poi-info--hidden {
  opacity: 0;
  transform: translateY(-50%) translateX(40px);
  pointer-events: none;
}
